
<phpunit
	colors="false"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="Glow Robots Test Suite">
			<directory suffix="ParserPropertiesDefaultsTest">.</directory>
			<directory suffix="ParserMethodsIntegrityTest">.</directory>
			<directory suffix="ParserSetMethodsTest">.</directory>
			<directory suffix="ParserExceptionsTest">.</directory>
			<directory suffix="ParserTest">.</directory>
			<directory suffix="ParserCNNTest">.</directory>
			
			<directory suffix="ValidatePropertiesDefaultsTest">.</directory>
			<directory suffix="ValidateTest">.</directory>
		</testsuite>
	</testsuites>
</phpunit>